#resume {
  display: flex;
  flex-direction: column;
  gap: var(--default-padding);
  padding: 48px;
  overflow: hidden;

  justify-self: center;
  align-self: center;

  aspect-ratio: 1 / 1.4;
  height: calc(100% - 2 * var(--default-padding));
  max-width: calc(100% - 2 * var(--default-padding));

  font-size: 10px;

  border-radius: var(--default-border-radius);
  background-color: var(--color-lighter);
  box-shadow: var(--default-box-shadow);
}

/* general info */
.general {
  text-align: center;
}
.general .full-name {
  font-size: 1.5em;
  font-weight: bold;
}
.general .contact-details {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

/* section basics */
.education,
.professional {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-weight: bold;
}
.section-title {
  font-size: 1.1em;
}
.section-content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.section-content .educationExperience,
.section-content .professionalExperience {
  display: grid;
  row-gap: 0;
  grid-template-columns: repeat(2, 1fr);
}
.section-content span:nth-child(2),
.section-content span:nth-child(4) {
  justify-self: end;
}

/* professional experience section */
.professionalExperience span:last-child {
  font-weight: normal;
}
